<main>
	<div class="container">
	<div class="row">
		<!-- Empty rowwwwww-->
	</div>
	<div class="row">
		<!-- Empty rowwwwww-->
	</div>
	<div class="row">
		<div class="col s12 m8 offset-m2 l8 offset-l2">
			<p align="justify">This is a proof of concept of an AI powered, Shopify friendly, sales booster.</p>

			<p>We use IBM's Watson Personality Insights service to try to accurately determine the best products in your shop for anyone with a public Twitter profile. Yes, even the Pope. It can be easily integrated as a private app in any Shopify store.</p>
		</div>
	</div>
	<form method="get" action="/suggestions">
		<div class="row">
			<div class="col s12 m8 offset-m2 l8 offset-l2">
				<%= image_tag("t3.png", :style => "display: block;  margin: auto;")%>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s10 offset-s1 m8 offset-m2 l6 offset-l3">
                <select name="gender" required="true">
			      <option value="" disabled selected>Pick your gender</option>
			      <option value="n">I'd rather not</option>
			      <option value="m">Male</option>
			      <option value="f">Female</option>
			    </select>
			    <label></label>
              </div>
		</div>
		<div class="row">
			<div class="input-field col s10 offset-s1 m8 offset-m2 l6 offset-l3">
				<input id="twitter_handle" type="text" class="validate" name="twitter_handle" required="true">
          		<label for="twitter_handle">Twitter @username</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s10 offset-s1 m8 offset-m2 l6 offset-l3">
				<div class="g-recaptcha" data-sitekey="6LdYBTAUAAAAAB_bL-BTfyU5PoHdvXK0N-YVYmfX"></div>
			</div>
		</div>
		<div class="row">
			<div class="col s4 offset-s4 m2 offset-m5 l6 offset-l3">
			  <button class="btn waves-effect waves-light" type="submit">Submit
			    <i class="material-icons right">send</i>
			  </button>
			</div>
		</div>


	</form>
</div>
<div class="row">
		<!-- Empty rowwwwww-->
	</div>
	<div class="row">
		<!-- Empty rowwwwww-->
	</div>
	<div class="row">
		<!-- Empty rowwwwww-->
	</div>
	<div class="row">
		<!-- Empty rowwwwww-->
	</div>
	<div class="row">
		<!-- Empty rowwwwww-->
	</div>
	<div class="row">
		<!-- Empty rowwwwww-->
	</div>
</main>


