/*Contact section*/

.content-header{
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  font-size: 30px;
  text-transform: uppercase;
}

.content-header-2{
  font-family: 'Open Sans';
  color: rgb(255, 255, 255);
  font-size: 25px;
}


.section-content{
  text-align: center; 

}

body{
  background: #0045db; /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #0045db , #266de0); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #0045db , #266de0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Open Sans', sans-serif;
  color : #fff;  

}
    
.contact-section{
  padding-top: 40px;
  margin-left:28em;
}

.line{
	border-top: 1px solid rgba(255,255,255,.3);
	margin-top: 1%;
	box-sizing: border-box;
}

.form-group1{
  width: 15%;
  position:absolute;
  margin-left:30.5em;
}

.form-group2{
  width: 15%;
  margin-left:43em;
  position:absolute;
}

.form-control{
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  color: #080808;
  display:block;
  border: 1px solid rgba(255,255,255,1);
  border-radius: 5px;
  padding: 5px;
}

.submit input{
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1em;
  width: 100px;
  background-color: transparent;
  color: rgba(255,255,255,1);
  border: 1px solid;
  border-radius: 5px;
  padding: 3px;
  padding-left: 2px;
  text-decoration: none;
  position: absolute;
  text-align: center;
}

.submit input:hover{
  font-size: 1.1em;
  width: 100px;
  background-color: #d8d8d8;
  color: #323335;
  border: 1px solid #7c7e82;
  border-radius: 5px;
  padding: 3px;
  padding-left: 2px;
  cursor: pointer;
}

.submit input:active{
  font-size: 1.1em;
  width: 100px;
  background-color: #ededed;
  color: #323335;
  border: 1px solid;
  border-radius: 5px;
  padding: 3px;
  padding-left: 2px;
  cursor: pointer;
}

